target
xcuserdata
.build/
xcuserdata/
DerivedData/
.swiftpm/config/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
.DS_Store
*~
Packages/Gemstone/
.vscode/settings.json
build
*.tar.bz2
.xcframework/
