name: Unit Tests

on:
  push:
    branches: ["main"]
  pull_request: 
    branches: ["main"]

concurrency:
  group: unit-tests-${{ github.ref }}
  cancel-in-progress: false

jobs:
  unit_test:
    name: Build and Test iPhone simulator
    runs-on: [self-hosted, macOS]

    env:
      RUSTC_WRAPPER: "sccache"

    steps:
      - name: Setup sccache for GitHub-hosted
        if: runner.environment == 'github-hosted'
        run: echo "SCCACHE_GHA_ENABLED=true" >> $GITHUB_ENV

      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: Cache Cargo Dependencies
        if: runner.environment == 'github-hosted'
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
          key: ${{ runner.os }}-cargo-deps-${{ hashFiles('core/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-cargo-deps-

      - name: Cache Cargo Target
        if: runner.environment == 'github-hosted'
        uses: actions/cache@v4
        with:
          path: |
            core/target
          key: ${{ runner.os }}-cargo-deps-${{ hashFiles('core/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-cargo-deps-

      - name: Cache Swift Package Manager
        if: runner.environment == 'github-hosted'
        uses: actions/cache@v4
        with:
          path: |
            ~/.swiftpm
            .build
          key: ${{ runner.os }}-spm-${{ hashFiles('Package.resolved') }}
          restore-keys: |
            ${{ runner.os }}-spm-

      - name: Run sccache-cache
        if: runner.environment == 'github-hosted'
        uses: mozilla-actions/sccache-action@v0.0.8

      - name: Install just
        run: brew install just

      - name: Install dependencies
        run: just install-toolchains

      - name: Build Core
        run: just generate-stone

      - name: Unit Tests
        run: just test-all
