name: UI Tests

on:
  workflow_dispatch:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

concurrency:
  group: ui-tests-${{ github.ref }}
  cancel-in-progress: false

jobs:
  ui_test:
    name: Build and UI Test iPhone simulator
    #runs-on: macos-26
    runs-on: [self-hosted, macOS]

    steps:
      - name: Setup simulator for runner
        run: |
          SIMULATOR_NAME="${{ runner.name }}-iPhone"
          echo "SIMULATOR_NAME=$SIMULATOR_NAME" >> $GITHUB_ENV
          # Delete all simulators with this name
          xcrun simctl list devices -j | jq -r ".devices[][] | select(.name == \"$SIMULATOR_NAME\") | .udid" | xargs -I {} xcrun simctl delete {} 2>/dev/null || true
          xcrun simctl create "$SIMULATOR_NAME" "iPhone 17"

      - name: Setup sccache for GitHub-hosted
        if: runner.environment == 'github-hosted'
        run: |
          echo "SCCACHE_GHA_ENABLED=true" >> $GITHUB_ENV
          echo "RUSTC_WRAPPER=sccache" >> $GITHUB_ENV

      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: Cache Cargo Dependencies
        if: runner.environment == 'github-hosted'
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
          key: ${{ runner.os }}-cargo-deps-${{ hashFiles('core/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-cargo-deps-
      
      - name: Cache Cargo Target
        if: runner.environment == 'github-hosted'
        uses: actions/cache@v4
        with:
          path: |
            core/target
          key: ${{ runner.os }}-cargo-deps-${{ hashFiles('core/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-cargo-deps-
      
      - name: Cache Swift Package Manager
        if: runner.environment == 'github-hosted'
        uses: actions/cache@v4
        with:
          path: |
            ~/.swiftpm
            .build
          key: ${{ runner.os }}-spm-${{ hashFiles('Package.resolved') }}
          restore-keys: |
            ${{ runner.os }}-spm-

      - name: Run sccache-cache
        if: runner.environment == 'github-hosted'
        uses: mozilla-actions/sccache-action@v0.0.8

      - name: Install just
        if: runner.environment == 'github-hosted'
        run: brew install just

      - name: Install dependencies
        run: just install-toolchains

      - name: Build Core
        run: just generate-stone

      - name: Resolve SPM Dependencies
        run: just spm-resolve

      - name: Build for Testing
        run: just build-for-testing-ui

      - name: UI Tests
        run: just test-ui-without-building