name: UI Tests

on:
  workflow_dispatch:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

concurrency:
  group: ui-tests-${{ github.ref }}
  cancel-in-progress: false

env:
  SCCACHE_GHA_ENABLED: "true"
  RUSTC_WRAPPER: "sccache"

jobs:
  ui_test:
    name: Build and UI Test iPhone simulator
    runs-on: [self-hosted, macOS]

    steps:
      - name: Select Xcode
        run: |
          xcrun simctl list devices

      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: Cache Cargo Dependencies
        if: runner.environment == 'github-hosted'
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
          key: ${{ runner.os }}-cargo-deps-${{ hashFiles('core/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-cargo-deps-
      
      - name: Cache Cargo Target
        if: runner.environment == 'github-hosted'
        uses: actions/cache@v4
        with:
          path: |
            core/target
          key: ${{ runner.os }}-cargo-deps-${{ hashFiles('core/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-cargo-deps-
      
      - name: Cache Swift Package Manager
        if: runner.environment == 'github-hosted'
        uses: actions/cache@v4
        with:
          path: |
            ~/.swiftpm
            .build
          key: ${{ runner.os }}-spm-${{ hashFiles('Package.resolved') }}
          restore-keys: |
            ${{ runner.os }}-spm-

      - name: Run sccache-cache
        if: runner.environment == 'github-hosted'
        uses: mozilla-actions/sccache-action@v0.0.8

      - name: Install just
        run: brew install just

      - name: Install dependencies
        run: just install-toolchains

      - name: Build Core
        run: just generate-stone

      - name: UI Tests
        run: just test-ui